.bg-award {
  background-image: url(../../assets/gettybg.webp);
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
}

.bg-award::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
